<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863472465679-2mo26b3oiqms8ok0lggllq1ht8pfbmbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863472465679-2mo26b3oiqms8ok0lggllq1ht8pfbmbi</string>
	<key>API_KEY</key>
	<string>AIzaSyDe4_japDM7oiHSAlnGfG85jUqGrEF84x8</string>
	<key>GCM_SENDER_ID</key>
	<string>863472465679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.builderking.hiva</string>
	<key>PROJECT_ID</key>
	<string>ecomm-qgph2k</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomm-qgph2k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863472465679:ios:bd167c336cdfca069ff07a</string>
</dict>
</plist>